body {
  font-family: var(--ff-base);
  background-color: var(--neutral-red-100);

  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 1rem;
}

.expenses-chart {
  --border-radius: 0.625rem;

  letter-spacing: var(--letter-spacing);
  display: grid;
  place-items: center;
  gap: var(--spacing-200);
  min-width: 343px;
}

.expenses-chart__balance-container {
  width: 100%;

  padding: var(--spacing-200);
  background-color: var(--primary-red-500);
  color: var(--basic-white);
  border-radius: var(--border-radius);
  /* preset-5 regular */
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135-preset-5-6);
}
.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balance-info__balance {
  /* preset 3 bold */
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-130-preset-1-2-3);
}

.expenses-chart__spending {
  width: 100%;
  display: grid;
  gap: var(--spacing-700);
  background-color: var(--basic-white);
  border-radius: var(--border-radius);
  padding: var(--spacing-300) var(--spacing-200);
}
.spending-container__label {
  /* preset 3 bold */
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-130-preset-1-2-3);
}


/* Bar Char section */
.bar-chart {
  
  width: 100%;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  list-style-type: none;
  padding: 0;
  
}
.bar-chart__day {
  
  width: 100%;
  text-align: center;
  display: grid;
  gap: 8px;
  /* Preset -6 regular */
  color: var(--neutral-brown-400);

}
.bar-chart__bar {
  width: 100%;
  background-color: var(--primary-red-500);
  border-radius: 3px;
}
.bar-chart__bar:hover {
  background-color: var(--neutral-red-300);
  cursor: pointer;
}

.tooltip-details {
  background-color: var(--neutral-brown-950);
  border-radius: 5px;
  color: var(--basic-white);
  font-weight: var(--fw-bold);
  padding: 0.3em;
  display: none;
  
  /* preset 4 bold */
}
.bar-chart__day:hover .tooltip-details{
  display: block;
}
/* Bar Char section */


.total-section {
  width: 100%;
  margin-block-start: var(--spacing-300);
  color: var(--neutral-brown-400);
  /*preset 5 regular*/
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135-preset-5-6);
  position: relative;
  display: grid;
 gap: 24px;
}
.total-container__info {
    display: flex;
    justify-content: space-between;
}
hr {
  height: 2px;
  border: 0;
  border-radius: 1px;
  background-color: var(--neutral-red-100);
}
.total-container__info-balance {
    /*  preset - 2*/
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-130-preset-1-2-3);
    color: var(--neutral-brown-950);

}
.total-container__info-precentage {
    color: var(--neutral-brown-950);
/* preset 5 bold */
font-size: var(--fs-preset-5);
  font-weight: var(--fw-bold);
  line-height: var(--lh-135-preset-5-6);
  text-align: end;
}
