/*
## Layout

- Mobile: 375px
- Desktop: 1440px
 */

:root {
  /* Colors */

  --primary-red-500: hsl(10, 79%, 65%);
  --primary-blue-300: hsl(186, 34%, 65%);

  --neutral-brown-950: hsl(25, 47%, 15%);
  --neutral-brown-400: hsl(28, 10%, 53%);

  --neutral-red-300: hsl(10, 100%, 79%);
  --neutral-red-100: hsl(26, 66%, 93%);

  --neutral-blue-200: hsl(186, 48%, 83%);

  --basic-black: hsl(0, 0%, 0%);
  --basic-white: hsl(0, 100%, 100%);


  /* Typography */

  --ff-base: "DM Sans", sans-serif;
  --letter-spacing: 0;

  /* Line heights */

  --lh-135-preset-5-6: 1.35; 
  --lh-130-preset-1-2-3: 1.3; 
  --lh-125-preset-4: 1.25; 
/* Font sizes */
  --fs-preset-1: 3rem; /* 48px*/
  --fs-preset-2: 2rem; /* 32px */
  --fs-preset-3: 1.5rem; /* 24px */
  --fs-preset-4: 1.125rem; /* 18px */
  --fs-preset-5: 0.9375rem; /* 15px */
  --fs-preset-6: 0.75rem; /* 12px */

/* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --spacing-0: 0; 
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */

}

@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/dm-sans/dm-sans-regular-400.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/dm-sans/dm-sans-700.woff2') format('woff2'); 
}