body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--neutral-red-100);
}
.expenses-chart {
  --border-radius: 0.63rem;

  min-width: 21.44rem;
  max-width: 33.75rem;
  display: grid;
  gap: var(--spacing-200);

  font-family: var(--ff-base);
  letter-spacing: var(--letter-spacing);
}
.expenses-chart__balance {
  padding: var(--spacing-200);
  border-radius: var(--border-radius);
  color: var(--basic-white);
  background-color: var(--primary-red-500);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expenses-chart__balance-label {
  /* preset 5 regular */
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135-preset-5-6);
}
.expenses-chart__balance-total {
  /* Text Preset 3  Bold */
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-130-preset-1-2-3);
}

.expenses-chart__spending {
  padding: var(--spacing-300) var(--spacing-200);
  border-radius: var(--border-radius);
  background-color: var(--basic-white);
  color: var(--neutral-brown-400);
  display: grid;
  gap: var(--spacing-700);
  /* preset 5 regular */
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135-preset-5-6);
}
.expenses-chart__spending-label {
  color: var(--neutral-brown-950);
  /* preset 3 bold */
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-130-preset-1-2-3);
}

.expenses-chart__bars {
  margin-inline: 0.5rem; /*0.2rem*/
  margin-block-end: var(--spacing-300); 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: end;
  gap: var(--spacing-100); 

  text-align: center;
}
.expenses-chart__bar-day {
  /* preset 6 regular */
  font-size: var(--fs-preset-6);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135-preset-5-6);
  position: relative;
}
.expenses-chart__bar {
  --border-radius: 0.19rem;
  display: block;
  width: 100%;
  background-color: var(--primary-red-500);
  border-radius: var(--border-radius);
}

.expenses-chart__bar-tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  padding: 0.5rem 0.3rem;
  border-radius: 0.31rem;

  display: none;
  /* preset 4 bold */
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-125-preset-4);
  color: var(--basic-white);

  background-color: var(--neutral-brown-950);
}
.expenses-chart__bar-day:hover .expenses-chart__bar {
  cursor: pointer;
  background-color: var(--neutral-red-300);
}
.expenses-chart__bar-day:hover .expenses-chart__bar-tooltip {
  display: block;
}
.max-amount {
  background-color: var(--primary-blue-300);
}
.expenses-chart__bar:is(.max-amount):hover {
  background-color: var(--neutral-blue-200);
}

.expenses-chart__total-separator {
  border: 0;
  height: 0.13rem;
  border-radius: 0.06rem;
  background-color: var(--neutral-red-100);
  margin-block-end: var(--spacing-300);
}
.expenses-chart__total-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expenses-chart__total-change {
  text-align: end;
}
.expenses-chart__total-balance {
  color: var(--neutral-brown-950);
  /* preset 2 bold */
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-130-preset-1-2-3);
}
.expenses-chart__total-comparison {
  color: var(--neutral-brown-950);
  /* preset 5 bold */
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-bold);
  line-height: var(--lh-135-preset-5-6);
}

@media (min-width: 48rem) {
  .expenses-chart {
    --border-radius: 1.25rem;
  }
  .expenses-chart__balance {
    padding: var(--spacing-300) var(--spacing-400);
    border-radius: var(--border-radius);
  }
  .expenses-chart__balance-label {
    /* preset 4 regular */
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-regular);
    line-height: var(--lh-125-preset-4);
  }
  .expenses-chart__balance-total,
  .expenses-chart__spending-label {
    /* Text Preset 2  Bold */
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-130-preset-1-2-3);
  }
  .expenses-chart__spending {
    padding: var(--spacing-400) var(--spacing-500);
    border-radius: var(--border-radius);
    gap: var(--spacing-800);
    /* preset 4 regular */
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-regular);
    line-height: var(--lh-125-preset-4);
  }
  .expenses-chart__bars {
    margin-inline: 0.1rem;
    margin-block-end: var(--spacing-400);

    gap: var(--spacing-200);
  }
  .expenses-chart__bar {
    --border-radius: 0.31rem;
  }
  .expenses-chart__bar-day {
    /* preset 5  regular */
    font-size: var(--fs-preset-5);
  }
  .expenses-chart__total-separator {
    margin-block-end: var(--spacing-400);
  }
  .expenses-chart__total-balance {
    /* preset 1 bold */
    font-size: var(--fs-preset-1);
  }
  .expenses-chart__total-comparison {
    /* preset 4 bold */
    font-size: var(--fs-preset-4);
    line-height: var(--lh-125-preset-4);
  }
}
